<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Welcome to Bitbut!</h1>
<p>Where tastebud has nothing to do here.</p>

<form action="/urls" method="POST">
	Enter URL:
	<input type= "text" name= "long_url"> 
<!-- long_url is in the form of hash ":long_url", changing it will not work -->
	<!-- <input type= "text" name= "email"> -->
	<input type="submit" value= "Submit">
</form>

<% @urls.each_with_index do |url,count| %>
	<%= count + 1%>. <%= url.long_url %> - 
	<a href=<%= url.short_url %>> 
	<%= url.short_url %><a> Click count: <%= url.click_counter %> <br>
<% end %>

</body>
</html>
